<header>
    <nav>
        <a href="/">Mybrary</a>
        <u1>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new"> Add Author</a></li>
        </u1>
    </nav>
</header>